.hometable{
    margin: 30px;
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
}
.titlehm{
    margin: 30px;
    margin-bottom: 20px;
}
.upldBTN{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.createDiv{
    margin: 30px;
    margin-bottom: 20px;
}
.CreateBtn{
    padding: 5px;
    border: none;
    background-color:  var(--heading-crsExp);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
