@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Manrope:wght@400;500&family=Poppins&display=swap');

.Full {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 20px); /* Adjust height for full view height minus margins */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 10px;
}

.titledfault {
    margin: 15px 10px;
}

.error-message {
    color: red; /* Change color as needed */
    font-size: 0.6rem; /* Adjust font size as needed */
    margin-top: 1px; /* Add space between the input box and the error message */
    display: inline;
}

.space {
    padding: 5px;
}

.quesField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 5%;
}

.titdefault {
    padding-bottom: 2px;
    margin-bottom: 10px;
    padding-top: 2px;
    width: 135px; /* Example width */
    height: 30px; 
}

.titdefault .inner-container {
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Drop shadow */
    border: 1px solid #ddd; /* Border */
    padding: 10px;
}

.Default {
    margin: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    background-color: white;
}

.dfinside {
    width: 80%;
}

.quesDoc {
    display: flex;
    flex-direction: row;
    gap: 9%;
    margin-bottom: 20px;
}

.quesDocRp {
    display: flex;
    flex-direction: row;
    gap: 9%;
    margin-bottom: 20px;
    width: 70%;
}

/* Add this CSS to your existing stylesheet or create a new one */
.textField {
    width: 80%; /* Adjust width to a percentage for better responsiveness */
}

.inp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    width: 67%; /* Adjust as needed */
    padding: 7px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.inputField:focus {
    outline: none;
    border-color: #2B3674;
    box-shadow: 0 0 5px rgba(43, 54, 116, 0.5);
}

.exp {
    margin-top: 20px;
}

.exception {
    margin-bottom: 20px;
    font-weight: bold;
}

.Rewards {
    margin-bottom: 20px;
    font-weight: bold;
}

.pdf-upload-button {
    background-color: #2B3674;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.expCancelBtn {
    background-color: #7484DD;
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

.expCreateBtn {
    background-color: #2B3674;
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}
