.hometable{
    margin: 30px;
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
}
<<<<<<< HEAD
.onlinehome{
    margin: 20px;
    background-color: var(--background);
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 18px -128px 21px rgba(173, 145, 202, 0.01), 10px -12px 21.1px rgba(173, 145, 202, 0.05), 4px 12px 13px rgba(173, 145, 202, 0.09), 1px 3px 7px rgba(173, 145, 202, 0.1);
}
.titlehm{
    margin: 30px;
    margin-bottom: 20px;
    color: var(--primaryBlue );
=======
.titlehm{
    margin: 30px;
    margin-bottom: 20px;
    color: var(--basicTextColor );
>>>>>>> 5ed2607c6f21812df50b4b3c80fcfd453e631a98
}
.upldBTN{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.createDiv{
    margin: 30px;
    margin-bottom: 20px;
}
.CreateBtn{
    padding: 5px;
    border: none;
<<<<<<< HEAD
    background-color:  var(--secondaryBlue);
=======
    background-color:  var(--basicTextColor);
>>>>>>> 5ed2607c6f21812df50b4b3c80fcfd453e631a98
    color: var(--cardBackground);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
<<<<<<< HEAD
=======
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
>>>>>>> 5ed2607c6f21812df50b4b3c80fcfd453e631a98
}
