.inputbox {
    margin: 5px;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 5px;
    width: 91.5vh;
    outline: none;
}
.inputbox:focus{
    border: 1.7px solid rgb(97, 139, 255);
}


@media (max-width: 1040px) {
    .inputbox{
        width:27vh;
    }
}